@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground-2: hsl(20 14.3% 4.1%);
    --foreground: hsl(0 0% 20%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(20 14.3% 4.1%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14.3% 4.1%);
    --primary: hsl(24.6 95% 53.1%);
    --primary-foreground: hsl(60 9.1% 97.8%);
    --secondary: hsl(60 4.8% 95.9%);
    --secondary-2: hsl(60 4.8% 95.9%);
    --secondary-foreground: hsl(24 9.8% 10%);
    --muted: hsl(60 4.8% 95.9%);
    --muted-foreground: hsl(25 5.3% 44.7%);
    --accent: hsl(60 4.8% 95.9%);
    --accent-foreground: hsl(24 9.8% 10%);
    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(20 5.9% 90%);
    --input: hsl(20 5.9% 90%);
    --ring: hsl(24.6 95% 53.1%);
    --radius: 0.75rem;
    --gradient: hsl(0 0% 68%);
  }

  .dark {
    --background: hsl(240 10% 4%);
    --foreground: hsl(60 9.1% 97.8%);
    --card: hsl(20 14.3% 4.1%);
    --card-foreground: hsl(60 9.1% 97.8%);
    --popover: hsl(20 14.3% 4.1%);
    --popover-foreground: hsl(60 9.1% 97.8%);
    --primary: hsl(20.5 90.2% 48.2%);
    --primary-foreground: hsl(60 9.1% 97.8%);
    --secondary: hsl(12 6.5% 15.1%);
    --secondary-2: hsl(12 6.5% 3%);
    --secondary-foreground: hsl(60 9.1% 97.8%);
    --muted: hsl(12 6.5% 15.1%);
    --muted-foreground: hsl(24 5.4% 63.9%);
    --accent: hsl(12 6.5% 15.1%);
    --accent-foreground: hsl(60 9.1% 97.8%);
    --destructive: hsl(0 72.2% 50.6%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(12 6.5% 15.1%);
    --input: hsl(12 6.5% 15.1%);
    --ring: hsl(20.5 90.2% 48.2%);
    --gradient: hsl(0 0% 33%);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }

  * {
    border-color: var(--color-border);
    box-sizing: border-box;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    height: 100%;
  }

  a {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
}
@theme {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-alternative: var(--secondary-2);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 0.5s ease-in-out;

  --background-image-gobblegum-time-based: radial-gradient(
    circle at top,
    rgba(0, 255, 64, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-time-based: radial-gradient(
    circle at top,
    rgba(0, 255, 64, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-round-based: radial-gradient(
    circle at top,
    rgba(0, 68, 255, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-round-based: radial-gradient(
    circle at top,
    rgba(0, 68, 255, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-immediate: radial-gradient(
    circle at top,
    rgba(255, 153, 0, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-immediate: radial-gradient(
    circle at top,
    rgba(255, 153, 0, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-player-activated: radial-gradient(
    circle at top,
    rgba(195, 0, 255, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-player-activated: radial-gradient(
    circle at top,
    rgba(195, 0, 255, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-ultra: radial-gradient(
    circle at top,
    rgba(255, 0, 0, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-ultra: radial-gradient(
    circle at top,
    rgba(255, 0, 0, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-legendary: radial-gradient(
    circle at top,
    rgba(255, 153, 0, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-legendary: radial-gradient(
    circle at top,
    rgba(255, 153, 0, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-epic: radial-gradient(
    circle at top,
    rgba(195, 0, 255, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-epic: radial-gradient(
    circle at top,
    rgba(195, 0, 255, 0.25),
    hsl(0 0% 100%) 80%
  );
  --background-image-gobblegum-rare: radial-gradient(
    circle at top,
    rgba(0, 68, 255, 0.25),
    hsl(240, 10%, 6%) 80%
  );
  --background-image-gobblegum-light-rare: radial-gradient(
    circle at top,
    rgba(0, 68, 255, 0.25),
    hsl(0 0% 100%) 80%
  );

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-gradient {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, oklch(0.54 0 0), oklch(0 0 0));
}

@utility dark-text-gradient {
  color: transparent !important;
  background-clip: text;
  background-image: linear-gradient(to bottom, oklch(1 0 0), oklch(0.74 0 0));
}

@utility text-primary-gradient {
  color: transparent !important;
  background-clip: text;
  background-image: linear-gradient(to bottom, var(--color-orange-400), var(--color-orange-500), var(--color-primary));
}

@utility badge-primary-gradient {
  color: var(--color-orange-800) !important;
  background-image: linear-gradient(to right, var(--color-orange-50), var(--color-orange-200), var(--color-orange-50));
  border-color: var(--color-orange-400) !important;
}

@utility dark-badge-primary-gradient {
  color: var(--color-orange-200) !important;
  background-image: linear-gradient(to right, var(--color-orange-950), var(--color-orange-800), var(--color-orange-950));
  border-color: var(--color-primary) !important;
}

@utility badge-changed-gradient {
  color: var(--color-blue-800) !important;
  background-image: linear-gradient(to right, var(--color-blue-50), var(--color-blue-200), var(--color-blue-50));
  border-color: var(--color-blue-400)!important;
}

@utility dark-badge-changed-gradient {
  color: var(--color-blue-200) !important;
  background-image: linear-gradient(to right, var(--color-blue-950), var(--color-blue-800), var(--color-blue-950));
  border-color: var(--color-blue-600) !important;
}

@utility badge-draft-gradient {
  color: var(--color-purple-800) !important;
  background-image: linear-gradient(to right, var(--color-purple-50), var(--color-purple-200), var(--color-purple-50));
  border-color: var(--color-purple-400) !important;
}

@utility dark-badge-draft-gradient {
  color: var(--color-purple-200) !important;
  background-image: linear-gradient(to right, var(--color-purple-950), var(--color-purple-800), var(--color-purple-950));
  border-color: var(--color-purple-600) !important;
}

@utility badge-new-gradient {
  color: var(--color-green-800) !important;
  background-image: linear-gradient(to right, var(--color-green-50), var(--color-green-200), var(--color-green-50));
  border-color: var(--color-green-400) !important;
}

@utility dark-badge-new-gradient {
  color: var(--color-green-200) !important;
  background-image: linear-gradient(to right, var(--color-green-950), var(--color-green-800), var(--color-green-950));
  border-color: var(--color-green-600) !important;
}

@utility badge-easy-gradient {
  color: var(--color-teal-800) !important;
  background-image: linear-gradient(to right, var(--color-teal-50), var(--color-teal-200), var(--color-teal-50));
  border-color: var(--color-teal-400) !important;
}

@utility dark-badge-easy-gradient {
  color: var(--color-teal-200) !important;
  background-image: linear-gradient(to right, var(--color-teal-950), var(--color-teal-800), var(--color-teal-950));
  border-color: var(--color-teal-600) !important;
}

@utility badge-medium-gradient {
  color: var(--color-yellow-800) !important;
  background-image: linear-gradient(to right, var(--color-yellow-50), var(--color-yellow-200), var(--color-yellow-50));
  border-color: var(--color-yellow-400) !important;
}

@utility dark-badge-medium-gradient {
  color: var(--color-yellow-200) !important;
  background-image: linear-gradient(to right, var(--color-yellow-950), var(--color-yellow-800), var(--color-yellow-950));
  border-color: var(--color-yellow-600) !important;
}

@utility badge-hard-gradient {
  color: var(--color-red-800) !important;
  background-image: linear-gradient(to right, var(--color-red-50), var(--color-red-200), var(--color-red-50));
  border-color: var(--color-red-400) !important;
}

@utility dark-badge-hard-gradient {
  color: var(--color-red-200) !important;
  background-image: linear-gradient(to right, var(--color-red-950), var(--color-red-800), var(--color-red-950));
  border-color: var(--color-red-600) !important;
}

@utility badge-elite-gradient {
  color: var(--color-rose-800) !important;
  background-image: linear-gradient(to right, var(--color-rose-50), var(--color-rose-200), var(--color-rose-50));
  border-color: var(--color-rose-400) !important;
}

@utility dark-badge-elite-gradient {
  color: var(--color-rose-200) !important;
  background-image: linear-gradient(to right, var(--color-rose-950), var(--color-rose-800), var(--color-rose-950));
  border-color: var(--color-rose-600) !important;
}