@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    /* --background: hsl(0, 0%, 100%); */
    --background: oklch(1 0 0);
    /* --foreground-2: hsl(20 14.3% 4.1%); */
    --foreground-2: oklch(0.15 0.0041 49.31);
    /* --foreground: hsl(0 0% 20%); */
    --foreground: oklch(0.32 0 0);
    /* --card: hsl(0 0% 100%); */
    --card: oklch(1 0 0);
    /* --card-foreground: hsl(20 14.3% 4.1%); */
    --card-foreground: oklch(0.15 0.0041 49.31);
    /* --popover: hsl(0 0% 100%); */
    --popover: oklch(1 0 0);
    /* --popover-foreground: hsl(20 14.3% 4.1%); */
    --popover-foreground: oklch(0.15 0.0041 49.31);
    /* --primary: hsl(24.6 95% 53.1%); */
    --primary: oklch(0.7 0.1868 47.6);
    /* --primary-foreground: hsl(60 9.1% 97.8%); */
    --primary-foreground: oklch(0.98 0.0013 106.42);
    /* --secondary: hsl(60 4.8% 95.9%); */
    --secondary: oklch(0.97 0.0013 106.42);
    /* --secondary-2: hsl(60 4.8% 95.9%); */
    --secondary-2: oklch(0.97 0.0013 106.42);
    /* --secondary-foreground: hsl(24 9.8% 10%); */
    --secondary-foreground: oklch(0.22 0.0061 56.04);
    /* --muted: hsl(60 4.8% 95.9%); */
    --muted: oklch(0.97 0.0013 106.42);
    /* --muted-foreground: hsl(25 5.3% 44.7%); */
    --muted-foreground: oklch(0.55 0.0117 58.07);
    /* --accent: hsl(60 4.8% 95.9%); */
    --accent: oklch(0.97 0.0013 106.42);
    /* --accent-foreground: hsl(24 9.8% 10%); */
    --accent-foreground: oklch(0.22 0.0061 56.04);
    /* --destructive: hsl(0 84.2% 60.2%); */
    --destructive: oklch(0.64 0.2078 25.33);
    /* --destructive-foreground: hsl(60 9.1% 97.8%); */
    --destructive-foreground: oklch(0.98 0.0013 106.42);
    /* --border: hsl(20 5.9% 90%); */
    --border: oklch(0.92 0.0026 48.72);
    /* --input: hsl(20 5.9% 90%); */
    --input: oklch(0.92 0.0026 48.72);
    /* --ring: hsl(24.6 95% 53.1%); */
    --ring: oklch(0.7 0.1868 47.6);
    --radius: 0.75rem;
    /* --gradient: hsl(0 0% 68%); */
    --gradient: oklch(0.75 0 0);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.141 0.005 285.823);
    --sidebar-primary: oklch(0.705 0.213 47.604);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.967 0.001 286.375);
    --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
    --sidebar-border: oklch(0.92 0.004 286.32);
    --sidebar-ring: oklch(0.705 0.213 47.604);

    --major-augment: oklch(0.45 0.20 207.2);
  }

  .dark {
    /* --background: hsl(240 10% 4%); */
    --background: oklch(0.14 0.0044 285.82);
    /* --foreground: hsl(60 9.1% 97.8%); */
    --foreground: oklch(0.98 0.0013 106.42);
    /* --card: hsl(20 14.3% 4.1%); */
    --card: oklch(0.15 0.0041 49.31);
    /* --card-foreground: hsl(60 9.1% 97.8%); */
    --card-foreground: oklch(0.98 0.0013 106.42);
    /* --popover: hsl(20 14.3% 4.1%); */
    --popover: oklch(0.15 0.0041 49.31);
    /* --popover-foreground: hsl(60 9.1% 97.8%); */
    --popover-foreground: oklch(0.98 0.0013 106.42);
    /* --primary: hsl(20.5 90.2% 48.2%); */
    --primary: oklch(0.65 0.1943 41.08);
    /* --primary-foreground: hsl(60 9.1% 97.8%); */
    --primary-foreground: oklch(0.98 0.0013 106.42);
    /* --secondary: hsl(12 6.5% 15.1%); */
    --secondary: oklch(0.27 0.0063 34.3);
    /* --secondary-2: hsl(12 6.5% 3%); */
    --secondary-2: oklch(0.13 0.0017 34.92);
    /* --secondary-foreground: hsl(60 9.1% 97.8%); */
    --secondary-foreground: oklch(0.98 0.0013 106.42);
    /* --muted: hsl(12 6.5% 15.1%); */
    --muted: oklch(0.27 0.0063 34.3);
    /* --muted-foreground: hsl(24 5.4% 63.9%); */
    --muted-foregrond: oklch(0.72 0.009 56.26);
    /* --accent: hsl(12 6.5% 15.1%); */
    --accent: oklch(0.27 0.0063 34.3);
    /* --accent-foreground: hsl(60 9.1% 97.8%); */
    --accent-foreground: oklch(0.98 0.0013 106.42);
    /* --destructive: hsl(0 72.2% 50.6%); */
    --destructive: oklch(0.58 0.2151 27.32);
    /* --destructive-foreground: hsl(60 9.1% 97.8%); */
    --destructive-foreground: oklch(0.98 0.0013 106.42);
    /* --border: hsl(12 6.5% 15.1%); */
    --border: oklch(0.27 0.0063 34.3);
    /* --input: hsl(12 6.5% 15.1%); */
    --input: oklch(0.27 0.0063 34.3);
    /* --ring: hsl(20.5 90.2% 48.2%); */
    --ring: oklch(0.65 0.1943 41.08);
    /* --gradient: hsl(0 0% 33%); */
    --gradient: oklch(0.45 0 0);
    --sidebar: oklch(0.21 0.006 285.885);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.646 0.222 41.116);
    --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
    --sidebar-accent: oklch(0.274 0.006 286.033);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.646 0.222 41.116);

    --major-augment: oklch(0.80 0.10 207.2);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentcolor);
  }

  * {
    border-color: var(--color-border);
    box-sizing: border-box;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    height: 100%;
  }

  a {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }

  .no-scroll {
    overflow: hidden;
  }

  .leaflet-container, .leaflet-container * {
    font-family: var(--font-geist) !important;
  }
  .custom-marker-container {
    background: transparent !important;
    border: none !important;
  }

  .custom-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-background) !important;
    border-radius: var(--radius-md);
    border: 2px solid var(--color-border);
    width: 24rem !important;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .custom-popup .leaflet-popup-tip {
    background: var(--color-background) !important;
    border: 2px solid var(--color-border);
  }

  .custom-popup .leaflet-popup-close-button {
    color: var(--color-muted-foreground) !important;
  }

  .custom-popup.general-popup .leaflet-popup-content-wrapper {
    background: var(--background-image-gobblegum-rare) !important;
    background-color: var(--color-background) !important;
  }
  .custom-popup.equipment-popup .leaflet-popup-content-wrapper {
    background: var(--background-image-equipment) !important;
    background-color: var(--color-background) !important;
  }
  .custom-popup.upgrades-popup .leaflet-popup-content-wrapper {
    background: var(--background-image-gobblegum-immediate) !important;
    background-color: var(--color-background) !important;
  }
  .custom-popup.objectives-popup .leaflet-popup-content-wrapper {
    background: var(--background-image-objectives) !important;
    background-color: var(--color-background) !important;
  }
  .custom-popup.transportation-popup .leaflet-popup-content-wrapper {
    background: var(--background-image-gobblegum-time-based) !important;
    background-color: var(--color-background) !important;
  }
  .custom-popup.intel-popup .leaflet-popup-content-wrapper {
    background: var(--background-image-gobblegum-player-activated) !important;
    background-color: var(--color-background) !important;
  }

  .leaflet-div-icon {
    background-color: transparent !important;
    border: none !important;
  }
}

@theme inline {
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary-alternative: var(--secondary-2);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --color-major-augment: var(--major-augment);

  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist);

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --desktop: 1920px;
  --desktop-md: 2560px;
  --desktop-lg: 3840px;

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-fade-in: fade-in 0.5s ease-in-out;
  --animate-toc-expand: toc-expand 0.3s ease-in-out;

  --background-image-objectives: radial-gradient(
    circle at top,
    oklch(0.65 0.1943 41.08 / 25%),
    var(--color-background) 80%
  );
  --background-image-equipment: radial-gradient(
    circle at top,
    oklch(71.547% 0.00008 271.152 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-time-based: radial-gradient(
    circle at top,
    oklch(0.87 0.278077 144.4054 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-round-based: radial-gradient(
    circle at top,
    oklch(0.51 0.2767 263.67 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-immediate: radial-gradient(
    circle at top,
    oklch(0.77 0.1738 64.55 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-player-activated: radial-gradient(
    circle at top,
    oklch(0.61 0.3044 314.02 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-ultra: radial-gradient(
    circle at top,
    oklch(0.63 0.2577 29.23 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-legendary: radial-gradient(
    circle at top,
    oklch(0.77 0.1738 64.55 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-epic: radial-gradient(
    circle at top,
    oklch(0.61 0.3044 314.02 / 25%),
    var(--color-background) 80%
  );
  --background-image-gobblegum-rare: radial-gradient(
    circle at top,
    oklch(0.51 0.2767 263.67 / 25%),
    var(--color-background) 80%
  );

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes toc-expand {
    from {
      grid-template-rows: 1fr;
    }
    to {
      grid-template-rows: 0fr;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

@utility text-gradient {
  color: transparent;
  background-clip: text;
  background-image: linear-gradient(to bottom, oklch(0.45 0 0), oklch(0 0 0));
}

@utility dark-text-gradient {
  color: transparent !important;
  background-clip: text;
  background-image: linear-gradient(to bottom, oklch(1 0 0), oklch(0.74 0 0));
}

@utility text-primary-gradient {
  color: transparent !important;
  background-clip: text;
  background-image: linear-gradient(to bottom, var(--color-orange-400), var(--color-orange-500), var(--color-primary));
}

@utility badge-primary-gradient {
  color: var(--color-orange-800) !important;
  background-image: radial-gradient(circle at top, var(--color-orange-100), var(--color-orange-200));
  border-color: var(--color-orange-400) !important;
}

@utility dark-badge-primary-gradient {
  color: var(--color-orange-200) !important;
  background-image: radial-gradient(circle at top, var(--color-orange-800), var(--color-orange-900));
  border-color: var(--color-primary) !important;
}

@utility badge-changed-gradient {
  color: var(--color-blue-800) !important;
  background-image: radial-gradient(circle at top, var(--color-blue-100), var(--color-blue-200));
  border-color: var(--color-blue-400)!important;
}

@utility dark-badge-changed-gradient {
  color: var(--color-blue-200) !important;
  background-image: radial-gradient(circle at top, var(--color-blue-800), var(--color-blue-900));
  border-color: var(--color-blue-600) !important;
}

@utility badge-draft-gradient {
  color: var(--color-purple-800) !important;
  background-image: radial-gradient(circle at top, var(--color-purple-100), var(--color-purple-200));
  border-color: var(--color-purple-400) !important;
}

@utility dark-badge-draft-gradient {
  color: var(--color-purple-200) !important;
  background-image: radial-gradient(circle at top, var(--color-purple-800), var(--color-purple-900));
  border-color: var(--color-purple-600) !important;
}

@utility badge-new-gradient {
  color: var(--color-green-800) !important;
  background-image: radial-gradient(circle at top, var(--color-green-100), var(--color-green-200));
  border-color: var(--color-green-400) !important;
}

@utility dark-badge-new-gradient {
  color: var(--color-green-200) !important;
  background-image: radial-gradient(circle at top, var(--color-green-800), var(--color-green-900));
  border-color: var(--color-green-600) !important;
}

@utility badge-easy-gradient {
  color: var(--color-teal-800) !important;
  background-image: radial-gradient(circle at top, var(--color-teal-100), var(--color-teal-200));
  border-color: var(--color-teal-400) !important;
}

@utility dark-badge-easy-gradient {
  color: var(--color-teal-200) !important;
  background-image: radial-gradient(circle at top, var(--color-teal-800), var(--color-teal-900));
  border-color: var(--color-teal-600) !important;
}

@utility badge-medium-gradient {
  color: var(--color-yellow-800) !important;
  background-image: radial-gradient(circle at top, var(--color-yellow-100), var(--color-yellow-200));
  border-color: var(--color-yellow-400) !important;
}

@utility dark-badge-medium-gradient {
  color: var(--color-yellow-200) !important;
  background-image: radial-gradient(circle at top, var(--color-yellow-800), var(--color-yellow-900));
  border-color: var(--color-yellow-600) !important;
}

@utility badge-hard-gradient {
  color: var(--color-red-800) !important;
  background-image: radial-gradient(circle at top, var(--color-red-100), var(--color-red-200));
  border-color: var(--color-red-400) !important;
}

@utility dark-badge-hard-gradient {
  color: var(--color-red-200) !important;
  background-image: radial-gradient(circle at top, var(--color-red-800), var(--color-red-900));
  border-color: var(--color-red-600) !important;
}

@utility badge-elite-gradient {
  color: var(--color-rose-800) !important;
  background-image: radial-gradient(circle at top, var(--color-rose-100), var(--color-rose-200));
  border-color: var(--color-rose-400) !important;
}

@utility dark-badge-elite-gradient {
  color: var(--color-rose-200) !important;
  background-image: radial-gradient(circle at top, var(--color-rose-800), var(--color-rose-900));
  border-color: var(--color-rose-600) !important;
}

@utility badge-equipment-gradient {
  color: var(--color-gray-800) !important;
  background-image: radial-gradient(circle at top, var(--color-gray-100), var(--color-gray-200));
  border-color: var(--color-gray-400) !important;
}

@utility dark-badge-equipment-gradient {
  color: var(--color-gray-200) !important;
  background-image: radial-gradient(circle at top, var(--color-gray-800), var(--color-gray-900));
  border-color: var(--color-gray-600) !important;
}

@utility badge-major-augment-gradient {
  color: var(--color-major-augment) !important;
  background-image: radial-gradient(circle at top, var(--color-blue-100), var(--color-blue-200));
  border-color: var(--color-blue-400) !important;
}

@utility dark-badge-major-augment-gradient {
  color: var(--color-major-augment) !important;
  background-image: radial-gradient(circle at top, var(--color-sky-800), var(--color-sky-900));
  border-color: var(--color-sky-600) !important;
}
