/* This style is hacky solution to prevent container overflow on screens smaller than 80ch,
    and allow for table horizontal scrolling as intended.
*/
.body * {
  max-width: 90vw;
}

.body h2 {
  position: relative;
}

.body h3,
.body h4,
.body h5,
.body h6 {
  position: relative;
}
.body p {
  margin: 1rem 0;
  letter-spacing: 0.025em;
}

.body b, .body strong {
  font-weight: 800;
}

.body blockquote p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: italic;
}

.body blockquote button {
  font-style: italic;
}

.body ul ul, .body ol ol {
  margin-top: 0.5rem;
  list-style-type: circle;
}

.body ul li, .body ol li {
  margin: 1rem 2rem;

}

.body ul li::marker, .body ol li::marker {
  font-weight: 800;
}

.body ul li p, .body ol p {
  margin: 0;
}

.body table p {
  margin: 0.25rem 0;
}
